body {
  background: linear-gradient(
    76.5deg,
    rgb(129, 252, 255) 0.4%,
    rgb(255, 175, 207) 49.8%,
    rgb(255, 208, 153) 98.6%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

.row {
  --bs-gutter-x: 1rem; 
  vertical-align: middle;
}

.col-sm-3 {
  margin-top: 15px;
}

.col-sm-9 {
  margin-top: 15px;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.location {
  padding-left: 0;
}

.middle-center-align {
  text-align: left;
  
}

.container {
  max-width: 600px; 
}

ul {
  list-style-type:none;
  padding-left:0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: inline;
}

.top-search {
  margin: 100px auto 10px;
}

.form-control {
  font-family: "Lobster", cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control:focus::placeholder {
  opacity: 0;
}

.current-location {
  margin: 10px auto 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}

.btn-primary {
  font-family: "Lobster", cursive;
  background-color: #27296d;
  border-color: #27296d;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #5e63b6;
}

.btn-secondary {
  font-family: "Lobster", cursive;
  background-color: transparent;
  border-color: #27296d;
  border-width: 2px;
  color: #27296d;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: white;
  color: #27296d;
}

.card-container {
  margin: 50px 0 30px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #27296d;
  display: none;
}

.card-title {
  color: #27296d;
  font-size: 60px;
  text-align: center;
}


.weather-description {
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
}

.card-img-top {
  max-width: 300px;
}

.tomorrow-weather-temperature-precipitation {
  text-align: left;
}

.current-time-date {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px;
}

h4.temperature {
  font-size: 70px;
  font-family: "Lobster", cursive;
  text-align: left;
  display: inline;

}

p.temperature-units {
  display: inline;
  position: relative;
  top: -40px;
  left: 20px;
}


.icon {
  display: block;
  margin: 0 auto;
  min-width: 120px;
}


